
    #firstHeading{
        color: blue;
        padding: 20px;
        margin: 0% 1% 0% 5%;

    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    .signUpContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0% 1% 20% 5%;
    }
    #image{
        width: 50%;
        height: fit-content;
        border-radius: 20px;

    }
    .paragraph{
        margin: 0% 1% 0% 5%;
    }
    #engVersion{
        margin: 0% 3% 20% 80%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    button{
        padding: 5px 90px 25px 90px;
        border-radius: 15px;
        font-size: large ;
        text-align: justify;
        margin: 2px 0px 0px 0px;
    }
    .mail{
        border: solid black 5px;
    }
    #firstButton{
        color: white;
        background-color: blue;
    
    }
    